<form [formGroup]="addProductForm" (ngSubmit)="addProduct()">
    <h2>Add New Product</h2>
    <label>Enter ID : </label>
    <input placeholder="id" formControlName="product_id" type="number">
    <label>Enter Name : </label>
    <input placeholder="name" formControlName="product_name">
    <label>Enter Price : </label>
    <input placeholder="price" formControlName="product_price" type="number">

    <button type="submit" [disabled]="!addProductForm.valid">Add Product</button>
    {{msg}}
</form>

<button type="button" (click)="goBack()">Dashboard</button>