<div class="dashboard">

    <button class="dashboard" (click)="onSelectID()">Retrieve Product by ID</button>
    <a class="dashboard" routerLink="/add" class="button">Add New Product</a>
    <hr class="dashboard">
</div>

<div class="retrieve-product" *ngIf="displaySelect">
    <h2>Retrieve Product by ID</h2>
    <app-product-retrieve></app-product-retrieve>
</div>

<div class="display">
    <table class="display">
        <thead>
            <tr>
                <th class="id">ID</th>
                <th class="name">Name</th>
                <th class="price">Price</th>
            </tr>

        </thead>
            <tr *ngFor="let product of products">

                    <td class="id">{{product.id}}</td>
                    <td class="name">{{product.name}}</td>
                    <td class="price">{{product.price}}</td>
                    <td><button class="button" (click)="onDelete(product)"> Delete </button></td>
                    <td class="button1"><a routerLink="/detail/{{product.id}}"> Update </a></td>

            </tr>
    </table>
</div>